<div class="filters">
  <button (click)="filters.toggleFavorites()">
    {{ filters.showFavorites() ? 'Afficher tous' : 'Afficher favoris' }}
  </button>

  <button (click)="filters.setMaxDistance(5)">
    Rayon 5 km
  </button>

  <button (click)="filters.setMaxDistance(null)">
    Sans filtre distance
  </button>
</div>

<div class="park-list">
  <div
    class="park-item"
    *ngFor="let park of parksFiltered()"
    (click)="selectPark(park)"
  >
    <div class="park-name">{{ park.name }}</div>
    <div class="park-address" *ngIf="park.address">{{ park.address }}</div>
  </div>
</div>
