@import 'variables';
@import 'mixins';

/* Layout global */
.auth-container {
  display: flex;
  height: 100dvh;
  background: var(--color-bg);
  overflow: hidden;
}

/* Menu latéral */
.sidebar {
  width: 320px;
  background: var(--color-primary);
  color: var(--color-surface);
  padding: $space-xl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: $space-xl;
  color: var(--color-surface);
}

.menu a {
  display: block;
  margin-bottom: $space-md;
  color: var(--color-surface);
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.2s;
}

.menu a:hover {
  color: var(--color-hover-text);
}

.menu a.active {
  color: var(--color-hover-text);
  font-weight: 600;
}

.darkmode-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.app-links .title {
  font-size: 1rem;
  font-weight: 600;
}

.app-links .subtitle {
  font-size: 0.9rem;
  opacity: 0.9;
}

.stores {
  margin-top: $space-md;
  display: flex;
  gap: $space-sm;
}

.store-btn {
  flex: 1;
  padding: $space-sm;
  border-radius: $radius;
  border: none;
  background: var(--color-secondary);
  color: var(--color-surface);
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.store-btn:hover {
  background: color-mix(in srgb, var(--color-secondary) 90%, black);
}

/* Panneau central */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $space-xl;
}

/* Header mobile */
.mobile-header {
  display: none;
  width: 100%;
  padding: $space-lg;
  background: var(--color-primary);
  color: var(--color-surface);

  justify-content: space-between;
  align-items: center;
}

.mobile-logo {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  color: var(--color-surface);
}

/* Responsive mobile */
@media (max-width: 768px) {

  /* Sidebar cachée */
  .sidebar {
    display: none;
  }

  /* Header mobile visible */
  .mobile-header {
    display: flex;
    align-items: center;
  }

  /* Layout vertical */
  .auth-container {
    flex-direction: column;
    height: 100dvh;
  }

  /* Contenu centré */
  .content {
    padding: $space-lg;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  /* Formulaires Login/Register */
  .content > * {
    width: 100%;
    max-width: 90%;
    margin: $space-lg auto 0;
  }
}
