@import 'variables';
@import 'mixins';

.navbar {
  height: 64px;
  background: $color-primary;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $space-xl;
  box-shadow: $shadow-soft;
}

.app-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: $color-white;
}

.logout-btn {
  @include button-outline;
  border-color: $color-white;
  color: $color-white;
  padding: $space-sm $space-lg;

  &:hover {
    background: rgba($color-white, 0.1);
  }
}

.left {
  display: flex;
  align-items: center;
  gap: $space-md; // espace entre le bouton et le titre
}
